# PreProcessing

In [ ]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

In [16]:
data = pd.read_csv('processed_data.csv',index_col=0)
data.head()

,Day,Month,Year,Day_Of_Week,day_index,Breakfast,Breakfast_Wastage,Lunch,Lunch_Wastage,Snacks,Snacks_Wastage,Dinner,Dinner_Wastage,Total_Daily_Comsumers,Total_Daily_Wastage
Date,,,,,,,,,,,,,,,
01-08-2023,1,8,2023,Tue,1,241,19.36,522,31.11,291,13.47,456,24.58,1510,88.52
02-08-2023,2,8,2023,Wed,2,428,27.05,623,35.73,319,12.31,674,34.74,2044,109.83
03-08-2023,3,8,2023,Thu,3,289,20.83,747,42.80,559,21.79,632,32.83,2227,118.25
04-08-2023,4,8,2023,Fri,4,269,18.11,585,36.35,458,14.14,550,26.38,1862,94.98
05-08-2023,5,8,2023,Sat,5,392,26.67,427,25.04,272,11.45,816,40.00,1907,103.16

In [ ]:
data['Day'] = data['Day'].astype('int8')
data['Month'] = data['Month'].astype('int8')
data['Year'] = data['Year'].astype('int16')

data = data.rename(columns={'Weekday' : 'day_index'})
data['day_index'] = data['day_index'].astype('int8')
data.head()

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data['Breakfast_Wastage'] = data['Breakfast_Wastage']/1.5
data['Lunch_Wastage'] = data['Lunch_Wastage']/1.7
data['Snacks_Wastage'] = data['Snacks_Wastage']/2.7
data['Dinner_Wastage'] = data['Dinner_Wastage']/2

data['Breakfast_Wastage'] = data['Breakfast_Wastage'].apply(lambda x : round(x,2))
data['Lunch_Wastage'] = data['Lunch_Wastage'].apply(lambda x : round(x,2))
data['Snacks_Wastage'] = data['Snacks_Wastage'].apply(lambda x : round(x,2))
data['Dinner_Wastage'] = data['Dinner_Wastage'].apply(lambda x : round(x,2))

data['Total_Daily_Wastage'] = data['Breakfast_Wastage'] + data['Lunch_Wastage'] + data['Snacks_Wastage'] + data['Dinner_Wastage']

data.describe()

# Data Joining

In [18]:
menu = pd.read_csv('mess_menu.csv', index_col=0)
menu = menu.rename(columns={'Day_Index':'day_index', 'BREAKFAST':'BFMenu', 'LUNCH':'LunchMenu', 'SNACKS':'SnkMenu', 'DINNER':'DinMenu'})
menu.head()

,day_index,BFMenu,LunchMenu,SnkMenu,DinMenu
Day,,,,,
SUNDAY,13,Dosa,"Phulka, Paneer Butter Masala, Veg Biryani, Oni...",Aloo Samosa,"Phulka, Veg Curry, Rice, Dal, Rasam"
MONDAY,0,"Pongal, Mysore Bonda","Phulka, Dal Makhani, Bhindi Fry, Rice, Sambhar...",Onion Pakoda,"Chole Bhature, Onion Mirch Salad, Rice, Snake ..."
TUESDAY,1,Dosa,"Poori, Dum Aloo, Beans Carrot Poriyal, Rice, V...",Banana Bajji,"Phulka, Meal Maker Curry, Fried Rice, Manchurian"
WEDNESDAY,2,"Idly, Vada","Phulka, Panchratan dal, Onion Pakoda, Perugu P...",Dahi Vada,"Phulka, Palak Paneer, Veg Biryani"
THURSDAY,3,"Poori, Channa Masala","Phulka, Rajma Dal, Aloo Gobi Matar Dry, Rice, ...",Sweet Corn,"Dosa, Rice, Sambhar, Aloo Podimas"

In [28]:
merged_data = pd.merge(data, menu, on='day_index', how='left')
merged_data.drop(columns=['Year', 'Month'])
merged_data.to_csv("Merged.csv",index=False)